<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5a1d1945e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/crearProducto.css">
    <link rel="stylesheet" href="/css/editproducto.css">
    <title>Home</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class ="titulo">
                <h1>Edición de Productos</h1>
            </div>

        <div class = "contenedor-formulario-edit">
            <form class="formulario" action="/productDetail/<%= product.id %>/actualizar?_method=PUT" method="POST" enctype="multipart/form-data">
                <label class ="labelform" for="nombre">Nombre:</label>
                <input class= "inputform" type="text" id="nombre" name="nombre" value="<%= product.product_name %>">
                <br>
                <label class ="labelform" for="desc">Descripción:</label>
                <input class= "inputform" type="text" name="desc" id="desc" value="<%= product.description %>">
                <br>
                <label class="labelform" for="marca">Marca:</label>
                <input class="inputform" type="text" name="marca" id="marca">
                <br>
                <label class ="labelform" for="imagen-producto">Foto:</label>
                <input class= "inputform" type="file" name="imagen-producto" id="imagen-producto">
                <br>
                <label class ="labelform" for="categoria"></label>
                <select class ="labelform" name="categoria" id="categoria" >
                    <option value="1">Indumentaria </option>
                    <option value="2">Suplementos</option>
                    <option value="3">Equipamiento</option>
                    <option value="4">Musculación</option>
                </select>
                <br>
                <label class="labelform" for="precio">Precio:</label>
                <input class= "inputform" type="text" name="precio" id="precio" value=" $ <%= product.price %>" >
                <br>
                <input class= "boton" type="submit" value="Editar Producto">
            </form>
        </div>

        </main>

        <%- include('./partials/footer') %>

        <script src="/js/valid-editarProd.js"></script>

</body>

</html>
