<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d69b56a62e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/detail.css">
    <title>Detalle de producto</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main class="main">
        <section class="hamburguer-menu">
            <p><a href="#"><i class="fas fa-bars"></i></a></p>
        </section>
        <section class="side-bar">
            <h2 class="side-bar-title">Categorías</h2>
            <ul class="categories">
                <li><a href="#" class="category-item">Ropa</a></li>
                <li><a href="#" class="category-item">Suplementos</a></li>
                <li><a href="#" class="category-item">Equipos de entrenamientos</a></li>
            </ul>
            

        </section>
        <section class="article">
            <h2 class="product-title"><%= product.nombre %> </h2>
            <img src="/images/mancuernas.png">
            <p><%= product.desc %> </p>
            <div class="article-purchase">
                <h3 class="price-label"><%= product.precio %> </h3> 
                <form action="#" method="GET">
                    <label for="quantity" class="article-form">Cantidad:</label>
                    <select name="quantity" id="quantity" class="article-form">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    <input type="submit" value="Agregar al carrito">
                    <input type="reset" value="Borrar">
                </form>
                </div>



        </section>



    </main>
    
    <%- include('./partials/footer') %>


</body>
</html>
